body {
	width: 960px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 2em;
	margin: 0 0 0 20px;
}
nav {
    width:220px;
    float:left;
}
main {
    width:740px;
    float:left;
}
ul:first-of-type {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
h2 {
	border: 1px solid #929CA4;
	background: #DFE3E6;
	font-size: 1em;
	border-radius: 5px;
	padding-left: 10px;
}
a {
	color: #CC1C0D;	
}
ul li ul li {
	margin-left: 40px;	
}
img {
	float: left;
	margin: 8px 5px 0 0;
}
#vprospect,
#vconvert,
#vretain {
	font-weight: bold;	
}
section img {
	margin-right: 20px;
	border: 2px solid #CC1C0D;
	border-radius: 40px;
}
.pricing {
	width: 740px !important;	
}
.pricing div {
	width: 178px;
	float: left;
	border: 1px solid #929CA4;
	border-radius: 10px;
	margin-right: 5px;
	text-align: center;
	padding-top: 10px;
}
.pricing div img {
	float: none !important;
	border: none;
}
.pricing div h3 {
	font-size: 1.3em;
	padding-top: 10px;
}
.pricing div:nth-child(1) h3 {
	border-top: 10px solid #CC1C0D;
}
.pricing div:nth-child(2) h3 {
	border-top: 10px solid #37A4A4;
}
.pricing div:nth-child(3) h3 {
	border-top: 10px solid #685288;
}
.pricing div:nth-child(4) {
	padding-top: 33px;
}
.pricing div:nth-child(4) h3 {
	border-top: 10px solid #000;
}